.cover__link {
  display: block;
  text-decoration: none;

  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
}

.cover__link:hover .cover__text-box {
  background-color: rgba(42, 44, 47, .8);  /* см. комментарий в cover__text-box.css */
}


