.intro__paragraph {
  margin: 0 0 33px 0;

  max-width: 690px;

  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 1023px) {
  .intro__paragraph {
    max-width: 720px;
  }
}
