.header__container {
  margin: 0 auto;
  width: calc(100% - 96px);
  max-width: 1184px;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 768px) {
  .header__container {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .header__container {
    width: calc(100% - 32px);
  }
}

