.lead__container {
  width: calc(100% - (148px * 2));
  min-width: calc(1024px - (48px * 2));
  max-width: 984px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .lead__container {
    width: calc(100% - (48px * 2));
    min-width: calc(768px - (100vw - 100%)); /* Вычитаем из макс. разрешения следующего брекпойнта(768px) ширину вертикального скролла(100vw - 100%),
                                                для того чтобы при сужении страницы не появлялся горизонтальный скролл  */
  }
}

@media screen and (max-width: 767px) {
  .lead__container {
    width: 100%;
    min-width: 320px;
  }
}


