.header__lang-links {
  padding: 0;
  margin: 18px 0 6px auto;
  list-style-type: none;

  display: flex;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 14px 0 8px auto;
  }
}
